<div class="row">
    <div class="col-xs-12">
        <img [src]="sProduct.imagepath" class="img-responsive">
    </div>
</div>
<div class="roew">
    <div class="col-xs-12">
        <h2>{{ sProduct.name }}</h2>
    </div>
</div>

<div class="row">
    <div class="Col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Manage <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit Product</a></li>
                <li><a href="#">Delete Product</a></li>
            </ul>
        </div>    
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{ sProduct.discription }}</h3>
    </div>
</div>